<div class="flex-shrink-0 p-3 bg-white m-2" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#cat-collapse" aria-expanded="true">
                Категории
            </button>
            <div class="collapse show" id="cat-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                    {% for category in categories.findAllParents() %}
                        <li>
                            <a class="link-dark rounded" href="/catalog/{{ category.slug }}">{{ category.name }}</a>
                            {% set childrenCategories = category.getChildren() %}
                            {% if childrenCategories|length > 0 %}
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-3">
                                    {% for childrenCategory in childrenCategories %}
                                        <li><a class="link-dark rounded"
                                               href="/catalog/{{ childrenCategory.slug }}">{{ childrenCategory.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>

    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#tag-collapse" aria-expanded="true">
                По интересам
            </button>
            <div class="collapse show" id="tag-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                    {% for tag in tags.findAll() %}
                        <li>
                            <a class="link-dark rounded" href="/catalog/tag/{{ tag.slug }}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</div>