{% if paginator.hasToPaginate %}
    <div class="d-flex justify-content-center">
        <ul class="pagination my-3">
            {% if paginator.hasPreviousPage %}
                <li class="page-item prev">
                    <a class="page-link"
                       href="{{ path('product_index_paginated', {page: paginator.previousPage}) }}"
                       rel="previous">&laquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item prev disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {% for i in 1..paginator.lastPage %}
                {% if i == paginator.currentPage %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path('product_index_paginated', {page: i}) }}">{{ i }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginator.hasNextPage %}
                <li class="page-item next">
                    <a class="page-link"
                       href="{{ path('product_index_paginated', {page: paginator.nextPage}) }}"
                       rel="next">&raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item next disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}