{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} | geekway{% endblock %}

{% block body %}

    <div class="row py-5">
        <div class="col-6">
            <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for imgPath in product.imagePaths %}
                        <button type="button"
                                data-bs-target="#carouselIndicators"
                                data-bs-slide-to="{{ loop.index0 }}"
                                {% if loop.first %} class="active" {% endif %}
                                aria-current="true"
                                aria-label="Slide 1">
                        </button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for imgPath in product.imagePaths %}
                        <div class="carousel-item {% if loop.first %} active {% endif %}">
                            <img src="/{{ imgPath }}" class="d-block w-100" alt="...">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex flex-column justify-content-evenly h-100">
                <div>
                    <h1 class="fs-3"> {{ product.name }} </h1>
                </div>
                <div>
                    цена:
                    {% if product.hasDiscount %}
                        <span class="text-muted fw-normal"><s>{{ product.price }}</s></span>
                        <span class="text-danger">{{ product.getPriceWithDiscount|format_number(locale='ru') }} ₽</span>
                    {% else %}
                        {{ product.price|format_number(locale='ru') }} ₽
                    {% endif %}
                </div>
                <div>
                    <select class="form-select form-select-sm fs-6" aria-label=".form-select-sm example">
                        <option selected disabled>Размер</option>
                        {% for size, stock in product.stock %}
                            <option value="{{ stock }}">{{ size }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                </div>
                <div>
                    <h3>О товаре</h3>
                </div>
                <div>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}