<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Geekway подарки для гиков{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

{{ include('_grid_parts/_header.html.twig') }}

<div class="container">
    <div class="row">
        <div class="col-3">
            {{ include('_grid_parts/_catalog.html.twig') }}
        </div>
        <div class="col-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

{{ include('_grid_parts/_footer.html.twig') }}

</body>
</html>