{% extends 'base.html.twig' %}

{% block title %}{{ groupName }} | Geekway подарки для гиков {% endblock %}

{% block body %}

    <div class="d-flex justify-content-start flex-wrap">
        {% for product in paginator.results %}
            <div class="card m-2" style="width: 18rem;">
                <a href="/product/{{ product.slug }}">
                    <img src="/{{ product.imagePaths[0] }}" class="card-img-top p-2" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        {% if product.hasDiscount %}
                            <span class="text-muted fw-normal"><s>{{ product.price }}</s></span>
                            <span class="text-danger">{{ product.getPriceWithDiscount|format_number(locale='ru') }} ₽</span>
                        {% else %}
                            {{ product.price|format_number(locale='ru') }} ₽
                        {% endif %}
                    </h5>
                    <p>
                        <a href="/product/{{ product.slug }}" class="link-dark">
                            {{ product.name }}
                        </a>
                    </p>

                </div>
            </div>
        {% endfor %}
    </div>

    {{ include('_grid_parts/_pagination.html.twig') }}

{% endblock %}